@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{ 
  padding:0;
  margin:0;
  font-family: Quicksand;
}

html{ 
  scroll-behavior:smooth;
  user-select:none
}

body{ 
  position:relative;
  height:100vh;
  width:100vw;
  overflow:hidden;
  padding:10px;
}